# Python Data Types & Containers I

A forewarning, what we learn in this notebook may seem mundane however data types and data it contains are the building blocks of our programs, developing a good understand of them will help to create solid foundations for you. The learning objectives are:

* Understand what the basic data types are
  * Booleans - either true or false
  * Strings - a sequence of characters
  * Numbers - numbers can be broken down into two types
    * Integer
    * Floats
* Why can't we add strings and numbers together?
* Introduction to basic data containers
  * Variables - used to contain any sort of value.
* Simple Input and Output

# Data Types

## Booleans

Booleans are very simple, they can either be true of false. In python booleans start with a capital, you'll know you've typed it right due to the green syntax highighting. We'll cover booleans use cases later when we cover logic and conditionals.

In [1]:
print(True+True+True)
print(True)
print("True")

3
True
True

In [2]:
print(type(True))
print(type('True'))

<class 'bool'>
<class 'str'>

In [3]:
# string to integer
int('2') + int('100')

102

In [4]:
print(0)
print(type(0))

0
<class 'int'>

In [5]:
'str'

'str'

In [6]:
print('Hello World!')

Hello World!

In [24]:
True+True, False+False

(2, 0)

Question 1:

In [7]:
False+False

0

## Strings

Strings are a sequence of characters. A string can contain letters, numbers or symbols surrounded by two quotes.

In [10]:
# 'hello', '23', 'Good morning', 100+100, "100" + "100"


# 'hello', " hello",

In [8]:
'#$.%'

'#$.%'

In python we can use either `''` and `""` to create strings

In [9]:
'hey'

'hey'

In [10]:
"hey"

'hey'

In [11]:
' hello '

" hello's "

''' hello, john says"iwsf"
s
dff
'''

' hello, john says"iwsf"\ns\ndff\n'

If we have a word with an apostrophe in we can use `""` to surround it

In [26]:
"it's raining out side"

"it's raining out side"

For strings multiline strings we use three quotes

In [12]:
print('''this is a
multiline
string''')

this is a
multiline
string

In [23]:
print('\\Hi') # \ - is an escape character

\Hi

The `\n` is a special character that stands for newline

### Exercise

Type a sample string.

hi	hello

## Numbers

Python has two different data type for numbers:

* Integers
* Floats

Integer can only represent whole numbers, whereas floats can be used to represent decimal point numbers

In [28]:
1 # integer

1

In [29]:
1.0 # float

1.0

In [32]:
print(1+1)
print(1-1)
print(1*2)
print(int(2/2))

2
0
2
1

Look at the output above, the integer doesn't have a decimal point (`.`) whereas the float does.

In [33]:
2.5 # float

2.5

Notice the lack of quotation marks (`''`) surrounding the output bellow, this indicates that the number is of a number type.

In [34]:
print(20)
print(10)

20
10

If we check if a string and a number are equal to each other, python will tell us no, since they are of different data types. `==` means is equal to.

In [37]:
'5' == 5

False

The output returns a boolean `False`, we will cover booleans later on. We can do simple math with number types.

* Addition: `+`
* Subtraction: `-`
* Multiplication: `*`
* Power: `**`
* Divsion: `/`
* Floor division  (rounds down): `//`
* Modulus (or remainder): `%`

In [38]:
3 + 2

5

In [39]:
5 - 6

-1

In [40]:
4 * 3

12

In [41]:
9.0 ** (1/2)  # (4*4)

3.0

In [42]:
8 ** (1/3)

2.0

In [43]:
print(5/2)  # print(10/2)

2.5

In [44]:
3 // 2 # rounds down returning a int

1

In [45]:
100%9

1

In [46]:
100%9 # remainder is 1

2%2, 3%2, 5%2, 100%2, 999%2

(0, 1, 1, 0, 1)

One thing to note though computers aren't like humans they have percision error when they do maths, however this normally isn't a problem as the error is so small.

In [48]:
0.1 + 0.2 #notice the 4 at the end

0.30000000000000004

In [35]:
round(0.3+0.3+0.3,1)

0.9

### Exercise

Calculate the modulo 15 of the result of the expression: $(156\times12)^4$

6

## String and number interactions

What happens if we try to add two strings together?

In [51]:
'a string' + ' ' + 'another string'

'a string another string'

You can see that python has **concatenated** the two strings together. How about if we try to add a string to a number?

In [52]:
'5' + 10 # will error

TypeError: can only concatenate str (not "int") to str

In [53]:
int('5') + 10

15

This will result in an error because we can't combine two different data types together. We can always check what type something is using the `type` function.

In [54]:
type('5')

str

In [55]:
type(5)

int

In summary, booleans are simple, either True of False. We can use string to store a collection of characters. Single line strings can be created using either double or single quotation marks. Multiline strings can be created using triple quotation marks. We can use number types to perform basic arithmetic. We can't add a number and a string together because they are not of the same data type.

## Intro to Data Containers: Variables

Variables are a way to store a bit of information or a value.  In python the standard way to name variables is all lower case, with underscores seperating the words, for example `my_variable_name`.

### Normal Assignment

In [57]:
s = 'a string '

In the case above the variable is `s` and it is used to store the value of the string `a string`. Below we can retrieve the value stored in the variable

In [58]:
print(s)

a string

In [61]:
s1 = 'another string'
s + s1

'a string another string'

In [62]:
s=True
s1=True
print(s+s1)

2

We can change the value of a variable after we have created it. In a more formal tone you may say I have assigned a new value to the variable `s`.

In [63]:
s = 'a new string'

In [64]:
s

'a new string'

 ### Multiple assignment

In [66]:
x, y, z = 1, 3.1415, 'a'

In [67]:
x

1

In [68]:
y

3.1415

In [69]:
z

'a'

In [70]:
print(round(x+y,4))

4.1415

### Chained assigment

In [71]:
a = b = c = 1
print (a,b,c)

1 1 1

In [72]:
a = 2
b = 3

b = a
b

2

In [73]:
b

2

In [74]:
a

2

In [75]:
c

1

### Augmented assignment

In [76]:
age = 10

age

10

In [83]:
# age += 5
age = age + 5
age

45

In [101]:
a = 'a'
a += 'a'
a

'aa'

In [102]:
print(age)

45

In [105]:
age -= 15
age

0

### Inputs and outputs

These functions allow you to have simple input and output with Python. You can use input() for simple inputting as running this function allows you to type for Python to read. To output, the print() function can be called to print variables and other sorts of data types.

In [107]:
# input
s2 = input('What is your name?')
print('Hello ' + s2)

Hello hjhjh

In [108]:
x = input('Type a number : ')

In [109]:
print(x, type(x))

50 <class 'str'>

In [110]:
num1 = 100
str1 = str(num1)
type(str1)

str

Note that when using input, Python will read the input as a string even if you type in a number as input. For example:

In [111]:
result = input('Type something:')

In [112]:
type(result) # comments

str

In [113]:
# output
print(result)

123

### Exercise

Assign the value of $30\times23$ to a variable called _result_.

690